{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
<div class="container">
  
<div>
<h1 class="title">Projects for {{ department_id }}</h1>
</div>

<br>
{% if buckets %}
{% for bucket in buckets %}

  <div>
      <p class="projectlist">{{ bucket }} </p> 
  </div>
       
{% endfor %}
{% endif %}
<br>

<div class="dropdown">
  <button class="dropbtn btn btn-primary btn-block btn-large"><a href="{{ url_for('main.workplace') }}">Workplace</a></button>
</div>
</div>


{% endblock %}