{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}


<div class="container">
  <div>
    <img src="static/img/logo.png" alt="PharmaMax" width="100" height="100" class="rounded mx-auto d-block">
  <br>
  <br>
  <h1 class="title">Welcome {{current_user.firstname}}!</h1>
  </div>
  <br>
  <section>
    <div class="main">
        <h2>Latest Projects in {{ department_id}}</h2>
        <br>
        {% if buckets %}
        {% for bucket in buckets["Buckets"] %}
      <div>
          <div>
              <p class="newstext">{{ bucket["Name"] }}, created: {{ bucket["CreationDate"].strftime('%Y-%m-%d %H:%M:%S') }} </p>  
          </div>
      </div>
      {% endfor %}
      {% else %}
      <div>
        <div>
            <p class="newstext">Currently there are no Projects in {{ department_id}} </p>  
        </div>
    </div>
      {% endif %}
      <br>
      <hr>
    </div> 
  </section>

<br>

 <section>
  <div class="main">
      <h2>News</h2>
      {% for article in news["articles"] %}
          <br>
      <div>
          <div>
              <h3 class="newstitle"><a href="{{ article["url"] }}" target=_blank>{{ article["title"]}} </a></h3>
              <div class="subheading mb-3">Author: {{ article["author"] }}</div>
              <p class="newstext">{{ article["description"] }}</p>
              
          </div>
          <div class="flex-shrink-0"><span class="text-secondary">Published: {{ article["publishedAt"].split("T").pop(0)}}</span></div>       
      </div>
      <hr>
      <br>
      {% endfor %}
  </div>
</section>

<div class="col-md-4 sidenav">
  <div class="sidebar">
    <h3>Notice board</h3>
    <p class='text-muted'>Information for employees.
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">Projects</li>
        <li class="list-group-item list-group-item-light">Announcements</li>
        <li class="list-group-item list-group-item-light">Calendar</li>
        <li class="list-group-item list-group-item-light">Partners</li>
      </ul>
    </p>
  </div>
</div>
</div>

{% endblock %}
