{% extends "base.html" %}

{% block content %}
<div class="box1">
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>  
        {% endfor %}
      {% endif %}
    {% endwith %}


    <form method="post">
        {{ form.hidden_tag() }}
   
        {% if form.password.errors %}
                        
                        <div class="text-danger">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            {{ form.password() }}
                        </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}

                    {% if form.confirm_password.errors %}
                        
                        <div class="text-danger">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            {{ form.confirm_password() }}
                        </div>
                    {% else %}
                        {{ form.confirm_password() }}
                    {% endif %}

            <div >
                {{ form.submit(class="btn btn-primary btn-block btn-large") }}
            </div>
     </form>
</div>
{% endblock content %}