{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
<div class="container">
  

<form method="POST" action="" class="box" enctype="multipart/form-data">
<h1 class="title">Upload Project File</h1>
{{ form.hidden_tag() }}
{% if form.project_folder_name.choices%}
    <div>{{ form.project_folder_name.label }}: {{ form.project_folder_name(class="dropbtn") }}</div>
    <div>{{ form.file_name.label }}: {{ form.file_name() }}
    {% if form.file_name.errors %}
                        {% for error in form.file_name.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %} </div>
    <div>{{ form.file_to_upload.label() }}
         {{ form.file_to_upload(class="dropbtn") }}
           {% if form.file_to_upload.errors %}
                        {% for error in form.file_to_upload.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}         
                </div>
     <div>{{ form.description.label }}:<br> {{ form.description(class="dropbtn") }} </div>
    <div >
                {{ form.submit(class="btn btn-primary btn-block btn-large") }}
            </div>
 {% else %}    
 <div >
  <a class="btn btn-primary btn-block btn-large" href="{{ url_for('main.create_project') }}">Create Project Folder</a>
            </div>
{% endif %} 
</form>


</div>


{% endblock %}